%h1.text-center
  Requests

-unless @failing.count == 0
  %h3.text-center
    Failing
  -@failing.in_groups_of(4) do |row|
    .row
      .col-md-2
      -row.each do |request|
        -if request
          .col-md-2
            =link_to(request_path(request)) do
              .well.danger-well
                =request.name


-unless @passing.count == 0
  %h3.text-center
    Passing
  -@passing.in_groups_of(4) do |row|
    .row
      .col-md-2
      -row.each do |request|
        -if request
          .col-md-2
            =link_to(request_path(request)) do
              .well.passing-well
                =request.name

%div.row
  %br
  %div.col-md-3
  %div.col-md-6
    .panel.panel-primary
      .panel-heading
        %h4.text-center
          ="Create a new Request"
      = simple_form_for @new_request, url: requests_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
        .panel-body.panel-primary
          %div.row
            %div.col-md-3
              %label
                = "Name"
            %div.col-md-9
              = f.input :name, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}, placeholder: "My Request"
          %div.row
            %div.col-md-3
              %label
                = "URL"
            %div.col-md-9
              = f.input :url, required:true, label: false, :as => :text, input_html: {style: "width:100%;"}, placeholder: "http://www.someurl.com"
          %div.row
            %div.col-md-3
              %label
                = "Headers"
            %div.col-md-9
              = f.input :headers, required:true, label: false, :as => :text, input_html: {style: "width:100%;"}, placeholder: "{'X-Header-1': 'some value', 'X-Header-2': 'some value'}"
          %div.row
            %div.col-md-3
              %label
                = "SSL"
            %div.col-md-9
              = f.input :use_ssl, required:true, label: false, :as => :boolean
          %div.row
            %div.col-md-3
              %label
                = "Format"
            %div.col-md-9
              = f.input :format, label: false, collection: Request::SUPPORTED_FORMATS, include_blank: false
        
        .panel-footer.panel-primary 
          %center 
            = f.submit "OK", class: 'btn action-button btn-primary', role: 'button'