%h1.text-center
  =@request.name
%div.row.text-center
  ="Last Run: #{@request.last_updated}"  
%h4.text-center
  =button_to 'Refresh', refresh_request_path(@request), {method: :patch, class: "btn btn-info btn-sm"}
%br

%h3.text-center
  Tests
-@request.tests.each do |test|
  .row
    .col-md-3
    .col-md-6
      -if test.status == true
        .panel.panel-success
          .panel-heading.panel-success
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Passing

          .panel-body.panel-success
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
          .panel-footer.panel-success.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}
     
      -elsif test.status == false and test.priority == Test::HIGH
        .panel.panel-danger
          .panel-heading.panel-danger
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Failing

          .panel-body.panel-danger
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
            .row
              .col-md-4
                Actual value
              .col-md-8
                =test.actual_value
            .row 
              .col-md-4
                Consecutive Failures
              .col-md-8
                =test.consecutive_failures
          .panel-footer.panel-danger.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}

      -elsif test.status == false and test.priority == Test::LOW
        .panel.panel-warning
          .panel-heading.panel-warning
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Failing

          .panel-body.panel-warning
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
            .row
              .col-md-4
                Actual value
              .col-md-8
                =test.actual_value
            .row 
              .col-md-4
                Consecutive Failures
              .col-md-8
                =test.consecutive_failures
          .panel-footer.panel-warning.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}

      -else
        .panel.panel-default
          .panel-heading.panel-default
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                N/A

          .panel-body.panel-default
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string            
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
          .panel-footer.panel-default.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}

%div.row
  %br
  %div.col-md-3
  %div.col-md-6
    .panel.panel-primary
      .panel-heading
        %h4.text-center
          ="Create a new Test"
      = simple_form_for @new_test, url: tests_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
        .panel-body.panel-primary
          %div.row
            %div.col-md-3
              %label
                = "Name"
            %div.col-md-9
              = f.input :name, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}, placeholder: "My Test"
          %div.row
            %div.col-md-3
              %label
                = "Key"
            %div.col-md-9
              = f.input :key, required:true, label: false, :as => :text, input_html: {style: "width:100%;"}, placeholder: "_body_['itinerareis'].count OR _code_"
          %div.row
            %div.col-md-3
              %label
                = "Value"
            %div.col-md-9
              = f.input :value, required:true, label: false, :as => :text, input_html: {style: "width:100%;"}, placeholder: "200"
          %div.row
            %div.col-md-3
              %label
                = "Priority"
            %div.col-md-9
              = f.input :priority, required:true, label: false, collection: [['High', Test::HIGH],['Low', Test::LOW]], input_html: {style: "width:100%;"}
          %div.row
            %div.col-md-12
              = f.hidden_field :request_id, value: @request.id
        
        .panel-footer.panel-primary 
          %center 
            = f.submit "OK", class: 'btn action-button btn-primary', role: 'button'

%h3.text-center
  Request Information

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        URL
      .panel-body
        =@request.url 
%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Evaluated URL
      .panel-body
        =@request.evaluate

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Headers
      .panel-body
        %pre
          =@request.headers

%br
.row
  .col-md-2
  .col-md-4
    .panel.panel-default
      .panel-heading
        Use SSL?
      .panel-body
        =@request.use_ssl

  .col-md-4
    .panel.panel-default
      .panel-heading
        Format
      .panel-body
        =@request.format

%h3.text-center
  Response Information

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-info
      .panel-heading
        Response Code
      .panel-body
        =@request.response_code 

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-info
      .panel-heading
        Response Body
      .panel-body
        %pre
          =@request.response_body

-if @request.tests.count > 0
  %h3.text-center
    History
  .row.text-center
    ="Pass Rate: #{(@request.tests.first.pass_rate*100.0).round(2)}%"
    
  = render "chart"

.row
  .col-md-5
  .col-md-2.text-center
    =button_to 'Delete this Request', request_path(@request), {method: :delete, class: "btn btn-danger btn-xl", data: {confirm: "Are you sure you want to delete Request: #{@request.name}?  This action cannot be undone!"}}
.row
  %br